h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 1.8rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

h3, h4, h5 {
    font-family: 'Cabin', sans-serif;
    text-align: center;
}

h4 {
    margin: 0;
    font-size: 1.2em;
}

p, a, table, input, label {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

ul, li {
    list-style: none;
    padding: 0;
}

table {
    border: none;
}

button.btn {
    appearance: none;
    background-color: #fff;
    color: #000;
    border: none;
}

button:focus {
    outline: none;
}

p {
    margin: 0;
}

p.center {
    text-align: center;
}

p.rich {
    font-weight: bold;
}

p.rich span {
    font-weight: normal;
}

.col {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.col-6 {
    flex: 1;
}

.col-9 {
    flex: 2;
}

.center-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*----------------------------------------------------
    SCROLL BAR
-----------------------------------------------------*/

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.25);
    border-radius: 5px
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

/* ELementos para la trasicion */

body:before, body:after {
    content: "";
    height: 50vh;
    width: 100%;
    position: fixed;
    left: 0;
    background: #1c2020;
    z-index: 1;
}

body:before {
    top: 0;
    transform: translateY(-100%);
}

body:after {
    bottom: 0;
    transform: translateY(100%);
}

/* Animacion del loader */

@keyframes delay {
    0%, 40%, 100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}

.loader {
    margin: 0 auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 0;
    opacity: 0;
}

.loader>div {
    height: 100%;
    width: 8px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    animation: delay 0.8s infinite ease-in-out;
}

.loader .bar1 {
    background-color: #754fa0;
}

.loader .bar2 {
    background-color: #09b7bf;
    animation-delay: -0.7s;
}

.loader .bar3 {
    background-color: #90d36b;
    animation-delay: -0.6s;
}

.loader .bar4 {
    background-color: #f2d40d;
    animation-delay: -0.5s;
}

.loader .bar5 {
    background-color: #fcb12b;
    animation-delay: -0.4s;
}

.loader .bar6 {
    background-color: #ed1b72;
    animation-delay: -0.3s;
}

section#first-slide {
    height: 100vh;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 0;
}

section#first-slide .content {
    position: relative;
    height: 100vh;
    background-color: #f6f6f6;
    display: table;
    width: 100%;
}

section#first-slide .content>div {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

section#first-slide .content>div>h1 {
    font-size: 6.5em;
    margin-bottom: 20px;
}

/* Boton de Inicio de Transicion */

.start-button {
    position: relative;
    margin: auto;
    padding: 11px 20px;
    transition: all 0.2s ease;
    color: rgba(53, 248, 255, 0.8);
}

.start-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 20px;
    background: rgba(21, 24, 24, 0.8);
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.start-button:hover {
    color: rgba(0, 247, 255, 1.0);
}

.start-button span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.start-button svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: transparent;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.start-button:hover svg {
    stroke: rgba(0, 247, 255, 1.0);
}

.start-button:hover:before {
    width: 100%;
    background: rgba(57, 73, 73, 0.75);
}

.start-button:hover svg {
    transform: translateX(0);
}

.start-button:active {
    transform: scale(0.96);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Sweet Alert */
.swal2-content{
    font-family: 'Montserrat', sans-serif!important;
}
/* Formulario */
.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.input > label{
    font-size: 1.25em;
    color: rgb(207, 207, 207);
    margin-bottom: 5px;
    padding: 5px 10px;
}
input[type="text"], input[type="password"]{
    background-color: transparent;
    appearance: none;
    border: none;
    padding: 5px 10px;
    border: 2px solid rgb(149, 149, 149);
    border-radius: 10px;
    font-size: 1.1em;
    color: white;
}
input[type="text"]:focus, input[type="password"]:focus{
    outline: none;
}


/*------------------------------------------
        Barra de Navegacion
--------------------------------------------*/
nav#top-nav{
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: #4e4e4e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 3;
    padding: 0 15px;
    height: 60px;
    /* box-shadow: 0 0 20px rgba(16, 24, 24, 1); */
}
@media only screen and (min-width: 600px){
    nav#top-nav{
        padding: 0 30px;
    }
}
@media only screen and (min-width: 768px){
    nav#top-nav{
        padding: 0 40px;
        background-color: rgba(27, 27, 27);
    }
}
nav#top-nav a.home{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
#top-nav .left-buttons{
    display: flex;
    align-items: flex-start;
    height: 100%;
    margin-top: 18px;
}
#top-nav .left-buttons > a:first-child{
    margin-right: 15px;
}
#top-nav .left-buttons .menu--items{
    display: none;
}
#top-nav .left-buttons .menu-container{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: width 0.3s ease-in, height ease-in  .3s;
    width: 50px;
    height: 42px;
    padding: 9px 3px 0 0;
    box-sizing: border-box;
    border-radius: 5px;
}
#top-nav .hamburger{
    padding: 0;
}
#top-nav .hamburger .hamburger-inner,
#top-nav .hamburger .hamburger-inner::before,
#top-nav .hamburger .hamburger-inner::after{
    background-color: rgb(243, 243, 243);
    width: 35px;
    height: 3px;
}
@media only screen and (min-width: 768px){
    nav#top-nav a.home,
    #top-nav .left-buttons .menu-container{
        background-color: rgba(44, 44, 44, 0.75);
    }
}
/*------------------------------------------
        Contenido del Menu
--------------------------------------------*/
@keyframes cd-3d-rotation {
    0% {
      transform: perspective(1000px) rotateX(-90deg);
    }
    100% {
      transform: perspective(1000px) translateY(0);
    }
}
.menu-content{
    height: max-content;
    padding: 80px 30px 30px 15px;
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
    background-color: rgba(27, 27, 27, 0.95);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    margin: 0;
}
.menu-content.is-visible{
    opacity: 1;
    visibility: visible;
    animation: cd-3d-rotation 0.5s 0.3s;
    transform-origin: center top;
    /* Force Hardware Acceleration */
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    animation-fill-mode: backwards;
}
.menu-content li{
    font-size: 1.85em;
    text-transform: uppercase;
    margin: 5px 0;
}
.menu-content li a{
    text-align: right;
    padding: 8px 0px;
    color: rgb(226, 46, 136);
    position: relative;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
/* Item Activo */
.menu-content li.active a{
    padding-right: 50px;
    font-weight: bold;
    color: #015579;
}
.menu-content li a:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #015579;
    top: 20px;
    right: 20px;
    display: none;
}
.menu-content li.active a:before{
    display: block;
}
@media only screen and (min-width: 768px){
    /* Ocultar menu movil en escritorio */
    .menu-content#mobile--menu{
        display: none;
    }
}
/* Prepara menu de escritorio */

#top-nav .menu-content#desktop--menu{
    display: none;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    position: unset;
}
@media only screen and (min-width: 768px){
    #top-nav .left-buttons .menu-container.is-active{
        width: 250px;
        height: 120px;
    }
    #top-nav .is-active .menu-content#desktop--menu{
        display: block;
    }
    #top-nav .menu-content{
        height: 100%;
        padding-top: 20px;
    }
    #top-nav .menu-content li{
        margin: 3px 0;
        font-size: 1em;
        transition: all .25s ease-in-out;
    }
    #top-nav .menu-content li:hover{
        transform: scale(1.1);
    }
    #top-nav .menu-content li a{
        font-size: 1.2em;
        font-weight: bold;
        color: rgb(219, 33, 120);
        padding-right: 15px;
    }
    #top-nav .menu-content li a:before{
        background-color: white;
        top: 11px;
        width: 12px;
        height: 12px;
        right: 25px;
    }
    #top-nav .menu-content li.active a{
        padding-right: 55px;
        color: #fff;
    }
    #top-nav .menu-content li.active:hover{
        transform: scale(1);
    }
}