main {
    background-color: rgb(27, 27, 27);
    width: 100%;
    position: absolute;
    z-index: 1;
    padding: 2% 5%;
    box-sizing: border-box;
    min-height: 100vh;
}
@media only screen and (min-width: 768px){
    main{
        padding: 2% 6%;
    }
}
@media only screen and (min-width: 1024px){
    main{
        padding: 2% 8%;
    }
}

main h1 {
    margin-bottom: 40px;
    color: rgb(166, 255, 255);
}

main h2 {
    color: rgb(239, 253, 253);
}
main h3{
    margin-bottom: 1.3em;
    color: rgb(227, 230, 230);
}

main p {
    color: rgb(199, 247, 255);
    margin-bottom: 2em;
}

.events-container{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
}
@media only screen and (min-width: 768px){
    .events-container{
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    }
}
@media only screen and (min-width: 1024px){
    .events-container{
        grid-template-columns: calc(33.3% - 20px) calc(33.3% - 20px) calc(33.3% - 20px);
    }
}

.event{
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    padding: 10px 20px 20px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.event h2{ flex: 2;}
.event h3{ flex: 1;}
.event p{ flex: 1;}
/*-------------------------------
    LOGIN PAGE
---------------------------------*/
main.login{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.stain{
    position: absolute;
    width: 500px;
    z-index: 1;
}
.stain.stain-blue{
    top: -300px;
    left: -300px;
}
.stain.stain-blue path{
    fill: rgb(81, 235, 235);
}
.stain.stain-pink{
    top: 200px;
    right: -300px;
}
.stain.stain-pink path{
    fill: rgb(226, 46, 136);
}
.stain.stain-green{
    transform: rotate(180deg);
    bottom: -400px;
    left: -300px;
}
.stain.stain-green path{
    fill: rgb(46, 255, 158);
}
@media only screen and (min-width: 768px) {
    .stain{width: 400px}
    .stain.stain-blue{
        top: -200px;
        left: -200px;
    }
    .stain.stain-pink{
        transform: rotate(90deg);
        top: -500px;
        right: -800px;
        width: 1000px;
    }
    .stain.stain-green{
        bottom: -400px;
        left: -100px;
        width: 600px;
    }
}
.form-container{
    flex: 1;
    position: relative;
    height: 70vh;
    padding: 25px 5vw;
    box-sizing: border-box;
    z-index: 2;
    background-color: rgba(56, 56, 56, 0.85);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
@media only screen and (min-width: 480px) {
    .form-container{
        margin: 0 10vw;
    }
}
@media only screen and (min-width: 768px) {
    .form-container{
        padding: 25px 10vw;
        margin: 0 15vw;
    }
}
.form-container .center-container{
    margin-top: 60px;
}
.start-button.login{
    color: rgb(103, 255, 184);
}
.start-button.login:hover{
    color: rgb(0, 255, 136);
}
.start-button.login:hover svg{
    stroke: rgb(0, 255, 136);
}