main {
    background-color: rgb(27, 27, 27);
    width: 100%;
    position: absolute;
    z-index: 1;
    padding: 2% 5%;
    box-sizing: border-box;
    min-height: 100vh;
}
@media only screen and (min-width: 768px){
    main{
        padding: 2% 6%;
    }
}
@media only screen and (min-width: 1024px){
    main{
        padding: 2% 8%;
    }
}

main h1 {
    margin-bottom: 40px;
    color: rgb(166, 255, 255);
}

main h2 {
    color: rgb(239, 253, 253);
}
main h3{
    margin-bottom: 1.3em;
    color: rgb(227, 230, 230);
}

main p {
    color: rgb(199, 247, 255);
    margin-bottom: 2em;
}

.events-container{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
}
@media only screen and (min-width: 768px){
    .events-container{
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    }
}
@media only screen and (min-width: 1024px){
    .events-container{
        grid-template-columns: calc(33.3% - 20px) calc(33.3% - 20px) calc(33.3% - 20px);
    }
}

.event{
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    padding: 10px 20px 20px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.event h2{ flex: 2;}
.event h3{ flex: 1;}
.event p{ flex: 1;}